/* line 12, ../sass/_tables-responsive.scss */
.table-responsive-wrapper {
  position: relative;
}
/* line 15, ../sass/_tables-responsive.scss */
.table-responsive-wrapper .dropdown.toggle-col {
  position: absolute;
  left: 0;
  top: -15px;
}

/* line 22, ../sass/_tables-responsive.scss */
.table-responsive-scroll {
  width: 100%;
  overflow: auto;
}
/* line 27, ../sass/_tables-responsive.scss */
.table-responsive-scroll tr,
.table-responsive-scroll td {
  vertical-align: middle;
}

/* line 32, ../sass/_tables-responsive.scss */
.table-responsive {
  max-width: 2000px;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  /* line 37, ../sass/_tables-responsive.scss */
  .table-responsive .hidden-col {
    display: none;
  }
}
/* line 43, ../sass/_tables-responsive.scss */
.table-responsive.fix-col .placeholder {
  display: none;
  height: 28px;
  width: 199px;
}
/* line 48, ../sass/_tables-responsive.scss */
.table-responsive.fix-col td {
  padding: 10px;
  background: #fff;
}
/* line 53, ../sass/_tables-responsive.scss */
.table-responsive.fix-col th {
  vertical-align: middle;
  background: #fff;
}
/* line 57, ../sass/_tables-responsive.scss */
.table-responsive.fix-col th select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: none;
  font-weight: bold;
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  /* line 42, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col {
    width: 1250px;
    table-layout: auto;
  }
  /* line 72, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col .placeholder {
    display: table-cell;
  }
  /* line 77, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col .table-subheader td {
    margin: 0 !important;
  }
  /* line 82, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col td {
    height: 20px !important;
    line-height: 20px;
  }
  /* line 86, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col td h4 {
    line-height: 15px;
  }
  /* line 92, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col th:first-child,
  .table-responsive.fix-col td:first-child {
    -webkit-box-shadow: 5px 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0 2px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    margin: 0;
    width: 200px;
    z-index: 2;
  }
  /* line 105, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col th:first-child {
    line-height: 30px;
    z-index: 3;
  }
  /* line 110, ../sass/_tables-responsive.scss */
  .table-responsive.fix-col th {
    padding: 10px;
    height: 30px;
  }
}
/* line 120, ../sass/_tables-responsive.scss */
.table-responsive.drilldown td:first-child {
  text-align: left;
}
/* line 124, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .parent td {
  background: #fff;
}
/* line 127, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .parent .toggle {
  float: right;
  width: 16px;
  padding: 5px 0;
  text-align: center;
  margin: -12px 0 -16px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  color: #999;
  text-decoration: none;
  outline: none !important;
}
/* line 140, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .parent .toggle:before {
  content: "-";
}
/* line 145, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .parent.collapsed .toggle:before {
  position: relative;
  content: "+";
}
/* line 152, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .level-1 td {
  background: #f1f1f1;
}
/* line 154, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .level-1 td:first-child {
  padding-left: 45px;
  width: 165px;
}
/* line 161, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .level-2 td {
  background: #e6e6e6;
}
/* line 164, ../sass/_tables-responsive.scss */
.table-responsive.drilldown .level-2 td:first-child {
  padding-left: 70px;
  width: 140px;
}

@media only screen and (max-width: 1024px) {
  /* line 173, ../sass/_tables-responsive.scss */
  .table-revert {
    width: 100%;
    overflow: hidden;
    display: block;
  }
  /* line 180, ../sass/_tables-responsive.scss */
  .table-revert td, .table-revert th {
    height: auto;
    border: none;
    border-bottom: 1px solid #dddddd !important;
    border-left: 1px solid #dddddd !important;
  }
  /* line 186, ../sass/_tables-responsive.scss */
  .table-revert thead {
    float: left;
  }
  /* line 189, ../sass/_tables-responsive.scss */
  .table-revert thead th {
    -webkit-box-shadow: 5px 0 2px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0 2px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0 2px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    display: block;
  }
  /* line 196, ../sass/_tables-responsive.scss */
  .table-revert tbody {
    white-space: nowrap;
    overflow: auto;
    display: block;
    width: auto;
  }
  /* line 202, ../sass/_tables-responsive.scss */
  .table-revert tbody tr {
    display: inline-block;
  }
  /* line 205, ../sass/_tables-responsive.scss */
  .table-revert tbody tr td {
    display: block;
  }
}
